:root {
  --primary-color-white: #ffffff;
  --primary-color-lightblue: #2b7fff;
  --primary-color-darkblue: #011c44;
  --secondary-color-lightgray: #747272;
  --secondary-color-darkgray: #4a4a4a;
  --secondary-color-darkblue: #011f4a;
}
