.why-us-bg {
  background-image: url('../images/2dSectionBg.svg');
  background-position: 0px 600px;
  background-repeat: no-repeat;
  background-size: cover;
  /* Костиль ще той, але я хз як спозиціонувати цей svg щоб було як у фігмі. 
  Жодна з позицій (top/bottom/center) не підходять, як би я не компонувала div.
  2+3 секції разом не підходять, тому що градієнт торкається початку 4ї секції
  за макетом, а з 2+3 він тупо обрубається і плавно не виходить побачити той 
  градієнт. Поки так, а взагалі думаю це якось можна буде далі переробити 
  по-нормальному. На данному етапі не було жодної інфи по таким об'єктам */
}
