.callback-button {
  width: 186px;
  height: 44px;
  color: var(--primary-color-white);
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: var(--primary-color-lightblue);
  border: 2px solid var(--primary-color-lightblue);
  border-radius: 24px;
  cursor: pointer;
  // padding: 16px 24px;
  margin-bottom: 8px;
  transition: background-color 0.2s, color 0.2s;

  &:hover {
    background-color: transparent;
    color: var(--primary-color-darkblue);
  }

  @media screen and (min-width: $bp-desktop) {
    width: 219px;
    height: 53px;
    padding: 16px 32px;
    border-radius: 32px;
    margin-bottom: 14px;
    font-size: 18px;
  }
}

.sign-up-button {
  display: block;
  width: 100%;
  max-width: 281px;
  margin: 0 auto 8px;

  &:hover {
    color: var(--primary-color-white);
    /* Я вирішила оверрайднути трохи ховер щоб можна було прочитати і воно не зливалося з фоном. 
  У кіті у будь-якому разі не було поведінки ховеру цієї кнопки */
  }
}
