.callback-button {
  width: 219px;
  height: 53px;
  color: var(--primary-color-white);
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  /* Я не знаю чого не наслідується font-size з body, тож я його прописала */
  background-color: var(--primary-color-lightblue);
  border: 2px solid var(--primary-color-lightblue);
  border-radius: 32px;
  cursor: pointer;
  padding: 16px 32px;
  margin-bottom: 14px;
  transition: background-color 0.2s, color 0.2s;

  &:hover {
    background-color: transparent;
    color: var(--primary-color-darkblue);
  }
}

.sign-up-button {
  display: block;
  width: 100%;
  max-width: 281px;
  margin: 0 auto 8px;

  &:hover {
    color: var(--primary-color-white);
    /* Я вирішила оверрайднути трохи ховер щоб можна було прочитати і воно не зливалося з фоном. 
  У кіті у будь-якому разі не було поведінки ховеру цієї кнопки */
  }
}
