@mixin star($top, $right, $width, $height, $color) {
  top: $top;
  right: $right;
  width: $width;
  height: $height;
  fill: $color;
}

@mixin starTablet($bottom, $right, $width, $height, $color) {
  bottom: $bottom;
  right: $right;
  width: $width;
  height: $height;
  fill: $color;
}
