.about-us-section {
  padding-top: 0;
  padding-bottom: 104px;

  @media screen and (min-width: $bp-mobile) {
    padding-bottom: 124px;
  }

  @media screen and (min-width: $bp-tablet) {
    padding-bottom: 140px;
  }

  @media screen and (min-width: $bp-desktop) {
    padding-bottom: 176px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }

  &__textblock {
    padding: 0;
    position: relative;
    flex-grow: 1;

    @media screen and (min-width: $bp-tablet) {
      min-width: 380px;
      padding-top: 30px;
      position: static;
    }

    @media screen and (min-width: $bp-desktop) {
      max-width: 710px;
      padding-top: 40px;
      position: static;
    }
  }

  &__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 24px;

    @media screen and (min-width: $bp-mobile) {
      font-size: 40px;
      margin-bottom: 26px;
    }

    @media screen and (min-width: $bp-tablet) {
      font-family: 'Play', sans-serif;
      font-weight: 700;
      font-size: 54px;
      max-width: 520px;
      margin-bottom: 30px;
    }

    @media screen and (min-width: $bp-desktop) {
      font-family: 'Play', sans-serif;
      font-weight: 700;
      font-size: 64px;
      margin-bottom: 40px;
    }
  }

  &__text {
    line-height: 1.16;
    margin-bottom: 16px;

    @media screen and (min-width: $bp-mobile) {
      line-height: 1.3;
      margin-bottom: 24px;
    }

    @media screen and (min-width: $bp-tablet) {
      font-size: 20px;
      line-height: 1.5;
      margin-bottom: 30px;
    }

    @media screen and (min-width: $bp-desktop) {
      font-size: 22px;
      line-height: 1.7;
      margin-bottom: 40px;
    }

    // hz iakogo ne praciuie last-child
    &:last-child {
      max-width: 200px;
      margin-bottom: 0;

      @media screen and (min-width: $bp-mobile) {
        max-width: 709px;
      }
    }
  }

  &__photos {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      position: relative;
      display: grid;
      flex-grow: 1;
      min-width: 350px;
    }

    @media screen and (min-width: $bp-desktop) {
      position: relative;
      display: grid;
      flex-grow: 1;
      min-width: 500px;
    }
  }

  &__photos-item {
    @media screen and (min-width: $bp-tablet) {
      border-radius: 50%;
      max-width: 270px;
      margin-bottom: 30px;
    }

    @media screen and (min-width: $bp-desktop) {
      border-radius: 50%;
      max-width: 327px;
      margin-bottom: 40px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__before-photo {
    justify-self: flex-start;
  }

  &__after-photo {
    justify-self: flex-end;
  }

  &__top-star {
    @include star(32px, -22px, 40px, 40px, var(--primary-color-lightblue));
  }

  &__middle-star {
    @include star(270px, 6px, 16px, 16px, var(--secondary-color-lightgray));
  }

  &__bottom-star {
    @include star(340px, 295px, 64px, 64px, var(--secondary-color-darkblue));
  }

  &__tablet-star {
    display: block;
    @include starTablet(
      -12px,
      2px,
      40px,
      40px,
      var(--secondary-color-darkblue)
    );

    @media screen and (min-width: $bp-tablet) {
      display: none;
    }
  }
}
